html,body
{
    outline: none;
    border: 0;
}

.content
{
    position: absolute;
    bottom: 10px;
    color: #FFF;
    margin-left: 10px;
    font-size: 14px;
}

.gallery-item
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallerys
{
    position: relative;
    min-width: 1000px;
}

.gallery-box
{
    position: relative;
}

/* for one image box selected */
.gallery-1 .gallery-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* for two image box selected */
.gallery-2 .gallery-box:nth-child(1)
{
    position: absolute;
    height: 100%;
    width: 66.6%;
    left: 0;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
}

.gallery-2 .gallery-box:nth-child(2)
{
    position: absolute;
    height: 100%;
    width: 66.6%;
    right: 0;
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.gallery-2 .gallery-box:nth-child(2) .content
{
    right: 10px;
}

/* for three image box selected */
.gallery-3 .gallery-box:nth-child(1)
{
    position: absolute;
    height: 100%;
    left: 0;
}

.gallery-3 .gallery-box:nth-child(2)
{
    position: absolute;
    height: 50%;
    right: 0;
    top: 0;
}

.gallery-3 .gallery-box:nth-child(3)
{
    position: absolute;
    height: 50%;
    right: 0;
    bottom: 0;
}

/* for four image box selected */
.gallery-4 .gallery-box
{
    float: left;
    height: 50%;
    width: 50%;
}

/* for five image box selected */
.gallery-5 .gallery-box
{
    position: absolute;
}

.gallery-5 .gallery-box:nth-child(1)
{
    height: 66.7%;
    width: 66.7%;
    top: 0;
    left: 0;
}

.gallery-5 .gallery-box:nth-child(2)
{
    width: 33.3%;
    top: 0;
    right: 0;
}

.gallery-5 .gallery-box:nth-child(3)
{
    height: 33.3%;
    width: 33.3%;
    bottom: 0;
    left: 0;
}

.gallery-5 .gallery-box:nth-child(4)
{
    height: 33.3%;
    width: 33.4%;
    bottom: 0;
    left: 33.3%;
}

.gallery-5 .gallery-box:nth-child(5)
{
    width: 33.3%;
    bottom: 0;
    right: 0;
}

/* for six image box selected */
.gallery-6 .gallery-box
{
    height: 33.3%;
    width: 33.3%;
    float: left;
}

.gallery-6 .gallery-box:nth-child(1)
{
    width: 66.6%;
    height: 66.7%;
}

.gallery-6 .gallery-box:nth-child(2),
.gallery-6 .gallery-box:nth-child(3),
.gallery-6 .gallery-box:nth-child(4)
{
    width: 33.4%;
    float: right;
}