html,body
{
    background-color: #193e6c;
    height:200%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
#main-block
{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}